{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>Media</title>
</head>
<body>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Type</th>
            <th scope="col">Format</th>
            <th scope="col">Size</th>
            <th scope="col">Duraton(in sec)</th>
          </tr>
        </thead>
        <tbody>
        {% for x in data %}
          <tr> 
            <td>{{x.name}}</td>
            <td>{{x.type}}</td>
            <td>{{x.format}}</td>
            <td>{{x.size}}</td>
            <td>{{x.duration_secs}}</td>            
          </tr>
        {% endfor %}
        
        </tbody>
    </table>
    
    <div class="row mx-auto" style="width:400px;">
      <div class="col"><a href="/media" class="btn btn-primary">Home</a></div>
      <div class="col"><a href="/video" class="btn btn-primary">Video</a></div>
      <div class="col"><a href="/audio" class="btn btn-primary">Audio</a></div>
    </div>
</body>
</html>